name: Ejecutar Bot Abonoteatro

on:
   
  schedule:
    - cron: '*/15 * * * *'  # Se ejecuta cada 10 minutos
  workflow_dispatch:       # Permite darle al botón "Run" a mano (alineado con schedule)

concurrency:
  group: bot-abonoteatro
  cancel-in-progress: false 
   
jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write # PERMISO CRÍTICO para poder modificar el archivo CSV en el repo

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Instalar Módulo Selenium
        shell: pwsh
        run: |
          Install-Module -Name Selenium -Force -Scope CurrentUser

      - name: Ejecutar Script de Tickets
        shell: pwsh
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: |
          ./tickets_Abonoteatro.ps1

      - name: Guardar cambios en el repositorio
        shell: pwsh
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          
          # Añadimos el archivo CSV que el script ha modificado
          git add eventos_abonoteatro_proticketing.csv
          
          # Comprobamos si hay cambios reales para subir
          $status = git status --porcelain
          if ($status) {
              Write-Host "Guardando cambios en el repositorio..."
              git commit -m "Auto-update: Actualizar eventos_abonoteatro_proticketing.csv"
              git push
          } else {
              Write-Host "No hay cambios que guardar."
          }
